In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey
city_file_to_load = 'cities.csv'
city_data_df = pd.read_csv(city_file_to_load)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-10-31 02:36:13,-46.19,168.86,53.01,92,100,15.01
1,1,Hilo,US,2020-10-31 02:27:13,19.73,-155.09,82.40,69,90,5.82
2,2,Bredasdorp,ZA,2020-10-31 02:29:28,-34.53,20.04,48.20,81,25,2.51
3,3,Rawson,AR,2020-10-31 02:30:01,-43.30,-65.10,61.45,35,0,11.88
4,4,Mahebourg,MU,2020-10-31 02:29:29,-20.41,57.70,68.00,56,20,12.75

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78.7
What is the maximum temperature you would like for your trip? 93.0

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2020-10-31 02:27:13,19.73,-155.09,82.40,69,90,5.82
16,16,Hobyo,SO,2020-10-31 02:36:15,5.35,48.53,80.49,78,88,8.21
23,23,Kavieng,PG,2020-10-31 02:30:34,-2.57,150.80,83.53,72,100,5.97
25,25,Kapaa,US,2020-10-31 02:29:19,22.08,-159.32,80.60,69,20,5.82
30,30,Rusera,IN,2020-10-31 02:36:18,25.75,86.03,79.39,50,43,8.46
36,36,Faanui,PF,2020-10-31 02:29:34,-16.48,-151.75,78.80,79,7,16.73
40,40,Georgetown,MY,2020-10-31 02:29:31,5.41,100.34,86.00,74,20,5.82
46,46,Tura,IN,2020-10-31 02:31:01,25.52,90.22,79.66,76,93,2.77
50,50,Sola,VU,2020-10-31 02:29:45,-13.88,167.55,81.66,78,100,15.43
51,51,Gizo,SB,2020-10-31 02:36:20,-8.10,156.84,84.79,66,72,3.22

In [26]:
preferred_cities_df.count()

City_ID       105
City          105
Country       105
Date          105
Lat           105
Lng           105
Max Temp      105
Humidity      105
Cloudiness    105
Wind Speed    105
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
1         Hilo      US     82.40  19.73 -155.09
16       Hobyo      SO     80.49   5.35   48.53
23     Kavieng      PG     83.53  -2.57  150.80
25       Kapaa      US     80.60  22.08 -159.32
30      Rusera      IN     79.39  25.75   86.03
36      Faanui      PF     78.80 -16.48 -151.75
40  Georgetown      MY     86.00   5.41  100.34
46        Tura      IN     79.66  25.52   90.22
50        Sola      VU     81.66 -13.88  167.55
51        Gizo      SB     84.79  -8.10  156.84

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
16,Hobyo,SO,80.49,5.35,48.53,Osmani Hotel
23,Kavieng,PG,83.53,-2.57,150.80,Nusa Island Retreat
25,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
30,Rusera,IN,79.39,25.75,86.03,Santosh Hotel&Santosh resturent
36,Faanui,PF,78.80,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
40,Georgetown,MY,86.00,5.41,100.34,Cititel Penang
46,Tura,IN,79.66,25.52,90.22,Hotel RIKMAN Continental
50,Sola,VU,81.66,-13.88,167.55,Ulkel Guest House
51,Gizo,SB,84.79,-8.10,156.84,Imagination Island

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))